<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-secure-storage"
    version="2.6.8">

    <name>SecureStorage</name>
    <author>Crypho AS</author>

    <description>
        Secure, encrypted storage for cordova apps in iOS and Android.
    </description>

    <license>MIT</license>

    <keywords>keychain, encryption, security</keywords>

    <js-module src="www/securestorage.js" name="SecureStorage">
        <clobbers target="SecureStorage" />
    </js-module>

    <js-module src="www/sjcl_ss.js" name="sjcl_ss">
        <runs/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SecureStorage">
                <param name="ios-package" value="SecureStorage"/>
            </feature>
        </config-file>
        <source-file src="src/ios/SecureStorage.m" />
        <header-file src="src/ios/SecureStorage.h" />

        <source-file src="src/ios/SAMKeychain/SAMKeychain.m" />
        <header-file src="src/ios/SAMKeychain/SAMKeychain.h" />
        <source-file src="src/ios/SAMKeychain/SAMKeychainQuery.m" />
        <header-file src="src/ios/SAMKeychain/SAMKeychainQuery.h" />

        <resource-file src="src/ios/SAMKeychain/SAMKeychain.bundle" />

        <framework src="Security.framework" />

    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SecureStorage" >
                <param name="android-package" value="com.crypho.plugins.SecureStorage"/>
            </feature>
        </config-file>

        <source-file src="src/android/SecureStorage.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/RSA.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/AES.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/SharedPreferencesHandler.java" target-dir="src/com/crypho/plugins/" />
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="SecureStorage">
                <param name="browser-package" value="SecureStorage" />
            </feature>
        </config-file>
    </platform>

    <platform name="windows">
        <js-module src="src/windows/SecureStorage.js" name="SecureStorageWindowsImpl">
            <runs />
        </js-module>
    </platform>

</plugin>
