<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-secure-storage-tests"
    version="0.0.1-dev">

    <name>SecureStorage Tests</name>
    <author>Crypho AS</author>

    <description>
        Test for cordova-plugin-secure-storage
    </description>

    <license>MIT</license>

    <keywords>security, encryption, tests</keywords>

    <js-module src="tests.js" name="tests">
    </js-module>

    <platform name="android">
        <dependency id="cordova-plugin-device" version="*" />
    </platform>

</plugin>
